.guide {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-shrink: 100%;
    flex-shrink: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .intro{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    top: 75%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 20%;
  }

  .introtext{
    font-family: 'Karla', sans-serif;
    font-size: 4vw;
    color: grey;
    z-index: 6;
  }
  
  .img {
    
    position: absolute;
    max-width:75%;
    max-height:75%;
    margin-bottom: 25%;       
  }


  .buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 2vw;
    z-index: 10;
  }


    .title{
    font-family: 'Castoro', serif;
    font-size: 5vw;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5vw;
    visibility: hidden;
    }

    .italics{
      font-family: 'Castoro', serif;
      font-size: 3vw;
      color: whitesmoke;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 4%;
      visibility: hidden;
      font-style: italic;
    }
  
    .subtitle{
    font-family: 'Castoro', serif;
    font-size: 3vw;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
    visibility: hidden;
    }
    


  .rowcontainer{
    position: absolute;
    display: flex;
    bottom: 10%;
    top: 80%;
    left: 75%;
    margin-left: 6vw;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
        }
  
  .textguide {
      position: absolute;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      top: 75%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 100%;
      height: 20%;
      flex-shrink: 100%;
      flex-shrink: 100%;
      border-radius: 0%;
      background-color: #262626;
      z-index: 5;
          }

    .moved{
      transition: ease-in-out, width .35s ease-in-out;
      position: absolute;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      outline: none;
      top: 75%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      width: 81%;
      height: 20%;
      flex-shrink: 100%;
      flex-shrink: 100%;
      border-radius: 0%;
      background-color: #262626;
      z-index: 2;
    }

  
    .say-hi-button {
      flex-shrink: 100%;
      border-radius: 100%;
      border: none;
      background-color: #262626;
      width: 15vw;
      height: 15vw;
      outline: none;
      }
  
      #callme{
        transform: scale(1);
      }
  
      #callme:active{
        transform: scale(0.95);
      }
  